<div class="page-footer px-outer">
    <div class="container-xl">
        <div class="columns">
            <div class="column col-12 col-sm-6 col-xl-4">
                <strong>syntevo GmbH</strong><br>
                Salzburger Str. 17<br>
                83404 Ainring<br>
                Germany<br>
                VAT-ID (USt-IdNr.): DE244701621
            </div>

            <div class="column col-12 col-sm-6 col-xl-4">
                E-Mail: <a href="mailto:sales@syntevo.com">sales@syntevo.com</a> • <a href="mailto:info@syntevo.com">info@syntevo.com</a><br>
                Twitter: <a href="https://twitter.com/syntevo" target="_blank">@syntevo</a> • <a href="https://twitter.com/smartgithg" target="_blank">@smartgithg</a><br>
                Facebook: <a href="https://www.facebook.com/syntevo/" target="_blank">syntevo</a> • <a href="https://www.facebook.com/SmartGitHg/" target="_blank">SmartGit</a><br>
                Google+: <a href="https://plus.google.com/+smartgit" target="_blank">SmartGit</a>
            </div>

            <div class="column col-12 col-xl-4">
                <a href="https://www.syntevo.com/contact/">Contact</a><br>
                <a href="https://www.syntevo.com/imprint/">Imprint</a><br>
                <a href="https://www.syntevo.com/privacy-policy/">Privacy Policy</a><br>
                <a href="https://www.syntevo.com/documents/terms-of-sale-en.html" target="_blank">Terms of Sale</a> / <a href="https://www.syntevo.com/documents/terms-of-sale-de.html" target="_blank">German AGB</a><br>
                <a href="https://ec.europa.eu/consumers/odr" target="_blank">EU platform for Online Dispute Resolution</a>
            </div>
        </div>
    </div>

    <div class="container-xl">
        <div class="columns">
            <div class="column col-12">
                <br>
                Register of Companies: HRB 16660 Amtsgericht Traunstein<br>
                Trade Authorization (Gewerbeerlaubnis n. §14 GewO): Gemeinde Ainring<br>
                Managing Directors: Thomas Singer, Marc Strapetz
            </div>
        </div>
    </div>
</div>
